%p#notice= notice
%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong Title:
  = @user.title
%p
  %strong Phone number:
  = @user.phone_number
%p
  %strong Active:
  = @user.active
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
